<div class="general">
  <a href="/users/new" class="btn btn-success">Sign Up</a>
  <section class="section1">
    <div class="container p-5">
      <div class="line">
        <p>Next event</p>
      </div>
      <div class="d-flex justify-content-between">
        <h2 class="d-inline">Event name</h2>
        <h6 class="d-inline">DD/MM/YYYY</h6>
      </div>
      <p>Description</p>
    </div>

  </section>
  <section class="section2">
    <div class="container p-5">
      <div>
        <h1>Search</h1>
      </div>
      <div class="events card container">
        <div class="d-flex justify-content-between">
          <h2 class="d-inline">Event name</h2>
          <h6 class="d-inline">DD/MM/YYYY</h6>
        </div>
        <p>Description</p>
      </div>
      <div class="events card container">
        <div class="d-flex justify-content-between">
          <h2 class="d-inline">Event name</h2>
          <h6 class="d-inline">DD/MM/YYYY</h6>
        </div>
        <p>Description</p>
      </div>
    </div>
  </section>
  <section class="section3">
    <div class="container p-5">
      <h1>Calendar</h1>
      <ul>
        <li>
          <h3>MM/YYYY</h3>
          <ul>
            <li>DD - Event name</li>
            <li>DD - Event name</li>
          </ul>
        </li>
        <li>
          <h3>MM/YYYY</h3>
          <ul>
            <li>DD - Event name</li>
          </ul>
        </li>
        <li>
          <h3>MM/YYYY</h3>
          <ul>
            <li>DD - Event name</li>
            <li>DD - Event name</li>
            <li>DD - Event name</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</div>
