<section class="black-bg white-text">
  <div class="container p-5">
    <h1>Calendar</h1>
    {{#if dateEvents}}
      <ul>
        {{#each dateEvents as |dEvents|}}
          <h3>{{dEvents.monthYear}}</h3>
          <ul>
            {{#each dEvents.events as |event|}}
              <li><a href="/events/{{event.eventId}}">{{event.event}}</a></li>
            {{/each}}
          </ul>
        {{/each}}
      </ul>
    {{else}}
      <h4>You are not enrolled to any event!!</h4>
    {{/if}}
  </div>
</section>
