<div class="general">
  <section class="white-bg">
    <div class="container p-5">
      {{>nextEvent nextEvent}}
    </div>
  </section>
  <section class="section2">
    <div class="container p-5">
      {{>searchEvent events=searchEvents}}
    </div>
  </section>
  {{>calendar dateEvents}}
</div>
