<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container d-flex align-items-center">
    <div>
      <a class="navbar-brand container d-flex align-items-center" href="/">
        <img src="/images/granada-icon.png" alt="icon" width="50" height="50" class="d-inline-block align-top">
        <div class="pt-2"><strong>We</strong>Meet</div>
      </a>
    </div>
  </div>
</nav>
