<div class="line">
  <p>Next event</p>
</div>

{{#if nextEvent}}
  <div class="d-flex justify-content-between">
    <h2 class="d-inline">{{nextEvent.name}}</h2>
    <h6 class="d-inline">{{dateFormat nextEvent.date}}</h6>
  </div>
  <p>{{nextEvent.description}}</p>
{{else}}
  <h4>You are not enrolled to any event!!</h4>
{{/if}}
