<div class = "" style="margin-top: 300px">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <div class="row flex-column align-items-center">
        <img src= "../images/undraw_female_avatar_l3ey.svg"style="width:190px;height:190px">
        <a href="/login/users" class="btn btn-primary light-blue mt-3">Login as an user</a>
      </div>
    </div>
    <div class="col-sm-4" >
      <div class="row flex-column align-items-center">
        <img src= "../images/undraw_urban_design_kpu8.svg"style="width:200px;height:200px">
        <a href="/login/companies" class="btn btn-primary light-blue">Login as a company</a>  
      </div>
    </div>
  </div>
</div>

