/* 
  Black: #030406
  DarkBlue: #053245
  lightBlue: #3cadbd
  gray: #b8a597
  red: #af5145
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.light-blue {
  background-color: #3cadbd !important;
  border-color: #3cadbd !important;
}

.light-blue-text {
  color: #3cadbd !important;
}

.navbar {
  background-color: #053245;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
}

body {
  background-color: #b8a597;
  margin-top: 80px;
}

.line {
  height: 25px;
  border-bottom: 1px solid;
}

.general {
  background-color: #af5145;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(122, 55, 47, 1);
  -moz-box-shadow: 0px 0px 7px 3px rgba(122, 55, 47, 1);
  box-shadow: 0px 0px 7px 3px rgba(122, 55, 47, 1);
}

.section1 {
  background-color: white;
}

.section2 {}

.section3 {}

.events {
  background-color: #b8a597;
  -webkit-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
  margin: 10px 0px;
}

#div-navbar {
  width: 100%;
}

#dropdownMenuButton::after {
  color: white;
}
