/* 
  Black: #030406
  DarkBlue: #053245
  lightBlue: #3cadbd
  gray: #b8a597
  red: #af5145
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.light-blue {
  background-color: #3cadbd !important;
  border-color: #3cadbd !important;
}

.light-blue-text {
  color: #3cadbd !important;
}

.red-box {
  background-color: #af5145 !important;
  border-color: #af5145 !important;
}

.red-text {
  color: #af5145 !important;
  text-align: center;
}


.white-bg {
  background-color: white;
}

.white-text {
  color: white;
}

.black-bg {
  background-color: #030406;
}

.navbar {
  background-color: #053245;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.75);
}

body {
  background-color: #b8a597;
  margin-top: 76px;
  position: relative;
}

.line {
  height: 25px;
  border-bottom: 1px solid;
}

#space {
  width: 478rem;
}

.general {
  background-color: #af5145;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(122, 55, 47, 1);
  -moz-box-shadow: 0px 0px 7px 3px rgba(122, 55, 47, 1);
  box-shadow: 0px 0px 7px 3px rgba(122, 55, 47, 1);
}

.events {
  background-color: #b8a597;
  -webkit-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.75);
  margin: 10px 0px;
}

#div-navbar {
  width: 100%;
}

#dropdownMenuButton::after {
  color: white;
}

.m-h-100 {
  min-height: 100vh;
}

.footer {
}

#carouselExampleIndicators {
  width: 22rem;
}

.carousel-img {
  width: 352px;
  height: 250px;
}

.round-image {
  border-radius: 50%;
  width:calc(100% - 16px);
}
