<div class = "d-flex justify-content-around" style="margin-top: 300px";">
  <a href="/login/users" class="btn btn-primary light-blue">Login as an user</a>
  <a href="/login/companies" class="btn btn-primary light-blue">Login as a company</a>
</div>

