<div class="d-flex justify-content-between align-items-center p-3">
  <div class="col-8 order-md-1 mt-5 p-3 ">
    <form action="/companies/edit/logo" method="POST" enctype="multipart/form-data" id="form">
      <div class="form-group">
        <label for="logo">Logo</label>
        <div class="file-field">
          <div class="btn btn-primary red-box btn-sm float-left h-38">
            <span class="">Choose file</span>
            <input type="file" class="d-none">
          </div>
          <div class="file-path-wrapper">
            <input name="logo" type="text" class="file-path validate h-38 {{#if error.Logo }}is-invalid{{/if}}"
              placeholder="Upload your files" multiple>
          </div>
        </div>
        {{#if error.Logo}}
          <div class="invalid-feedback">
            {{error.Logo.message}}
          </div>
        {{/if}}
      </div>

      <button type="submit" class="btn light-blue btn-primary" id="submit">
        Update
      </button>
    </form>
  </div>

  <div class="col-4">
    <img src="/images/undraw_to_the_moon_v1mv.svg" style="width:calc(100% - 16px)">
  </div>
</div>
