<div class="d-flex justify-content-between align-items-center p-3">
  <div class="col-8 order-md-1 mt-5 p-3 ">
    <form action="/companies/edit/password" method="POST" enctype="multipart/form-data" id="form">
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
          placeholder="password">

        {{#if error.password}}
          <div class="invalid-feedback">
            {{error.password.message}}
          </div>
        {{/if}}
      </div>

      <button type="submit" class="btn light-blue btn-primary" id="submit">
        Update
      </button>
    </form>
  </div>

  <div class="col-4">
    <img src="/images/undraw_to_the_moon_v1mv.svg" style="width:calc(100% - 16px)">
  </div>

</div>
