<form action="/companies/edit/logo" method="POST" enctype="multipart/form-data" id="form">
  <div class="form-group">
      <label for="logo">Logo</label>
      <input name="logo" type="file" class="form-control-file {{#if error.Logo }}is-invalid{{/if}}" id="logo"
        placeholder="Enter Logo url">
      {{#if error.Logo}}
        <div class="invalid-feedback">
          {{error.Logo.message}}
        </div>
      {{/if}}
    </div>

  <button type="submit" class="btn btn-primary" id="submit">
    Sign up
  </button>
</form>
