<form action="/companies/edit/password" method="POST" enctype="multipart/form-data" id="form">
  <div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
      placeholder="password">

    {{#if error.password}}
      <div class="invalid-feedback">
        {{error.password.message}}
      </div>
    {{/if}}
  </div>

  <button type="submit" class="btn btn-primary" id="submit">
    Sign up
  </button>
</form>
