<div class="d-flex justify-content-between align-items-center p-3">
  <div class="col-8 order-md-1 mt-5 p-3">
    
    <h1>{{company.name}}</h1>
    <p>{{company.description}}</p>
    <h5>{{company.email}}</h5>
    
  </div>
  <div class="col-4">
    <img src="{{company.logo}}" alt="logo" class="round-image">
  </div>  
</div>

{{>calendar dateEvents=dateEvents}}