<form action="/users/edit/images" method="POST" enctype="multipart/form-data" id="form">
  <div class="form-group">
    <label for="images">Images (6 max.)</label>
    <input name="images" type="file" class="form-control-file {{#if error.images }}is-invalid{{/if}} " id="images"
      placeholder="Enter images url" multiple>

    {{#if error.images}}
      <div class="invalid-feedback">
        {{error.images.message}}
      </div>
    {{/if}}
  </div>

  <button type="submit" class="btn btn-primary" id="submit">
    Sign up
  </button>
</form>
